extends ../layout-inside

block content
    h2= title

    .row
        .span9
            h3 List of cities
                span.muted  (#{cities.length})

            - if (cities)
                ol
                    - cities.forEach(function (city) {
                        li.mb.mb-big= city.city.name + ' - ' + city.country.name
                            .img-map
                                form(action="/cities", method="post")
                                    input(type="hidden", name="_method", value="delete")
                                    input(type="hidden", value=city._id, name="id")
                                    button.btn.btn-mini.btn-danger(title="remove this city", rel="tooltip", type="submit") X
                                    img.img-polaroid(src="http://maps.googleapis.com/maps/api/staticmap?center="+ city.city.geoLocation.lat +","+ city.city.geoLocation.lng +"&zoom=12&size=300x120&sensor=false")
                    - })

        .span3
            h3 Add new city
            form(action="/cities", method="post")
                ul.unstyled
                    li
                        input(type="text", placeholder="Country", name="country")
                    li
                        input(type="text", placeholder="Country Geolocation", name="countryGeolocation")
                    li
                        input(type="text", placeholder="City", name="city")
                    li
                        input(type="text", placeholder="City Geolocation", name="cityGeolocation")
                    li
                        input.btn.btn-primary.btn-success(type="submit", value="Save", name="save-city")