extends ../layout-map

block append head
    script(src='https://maps.google.com/maps/api/js?key=AIzaSyCABzxHhmqMf_Ty8MzdGeDfD1JPK482cNE&sensor=false')
    script(src='/javascripts/map.js')

block modal

block content
    #map(data-lat=destination.city.geoLocation.lat, data-lng=destination.city.geoLocation.lng)= user.name

block footer