extends layout

block content
    h2= title

    .row

        .span4

        .span8
            h4 1. Acceptance of Terms of Use
            p Each time you use or cause access to this website, you agree to be bound by these Terms of Use, as amended from time to time with or without notice to you. In addition, if you are using a particular service on this web site or accessed via this web site, you will be subject to any rules or guidelines applicable to those services, and they will be incorporated by reference within these Terms of Use.

            h4 2. Your responsibilities and registration obligations
            p In order to use this website or certain parts of it, you may be required to register for a user account on this website; in this case, you agree to provide truthful information when requested, and -- if a minimum age is required for eligibility for a user account -- you undertake that you are at least the required age. By registering for a user account, you explicitly agree to this site's Terms of Use, including any amendments made by Plan it that are published herein