//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right { float: right; }
.pull-left  { float: left; }

// Toggling content
.hide { display: none; }
.show { display: block; }

// Visibility
.invisible { visibility: hidden; }

// For Affix plugin
.affix { position: fixed; }

// Texts align
.t-center { text-align: center; }
.t-left   { text-align: left; }
.t-right  { text-align: right }

// Margins
.mb {
    margin-bottom: 15px;

    &.mb-big {
        margin-bottom: 30px;
    }
}

.mt {
    margin-top: 15px;

    &.mt-big {
        margin-top: 30px;
    }
    &.mt-xxl {
        margin-top: 40px;
    }
}

.ml { margin-left: 15px; }

.mr { margin-right: 15px; }

.no-ml { margin-left: 0 !important; }
.no-mr { margin-right: 0 !important; }
.no-mb { margin-bottom: 0 !important; }
.no-mt { margin-top: 0 !important; }
