//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

.mb {
    margin-bottom: 15px;

    &.mb-big {
        margin-bottom: 30px;
    }
}

.mt {
    margin-top: 15px;

    &.mt-big {
        margin-top: 30px;
    }
}
