extends ../layout

block content

	- if(success.length) {
		.alert.alert-success.alert-block.fade.in.mt.mt-xxl
			button.close(type="button", data-dismiss="alert") ×
			p
				strong #{success}
	- }
	- if(error.length) {
		.alert.alert-error.alert-block.fade.in.mt.mt-xxl
			button.close(type="button", data-dismiss="alert") ×
			p
				strong #{error}
	- }

	.t-center.mt.mt-xxl
		img(src="images/landpage.png")