#startModal.modal.hide.fade
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") X
    h3 Modal header

  .modal-body
    p Start

  .modal-footer
    a.btn(href="#") Cancel
    a.btn.btn-primary(href="#") Continue