#startModal.modal.hide.fade
    .modal-header
        h3 Plan your trip

    form.form-horizontal(method="post", action="/map")
        .modal-body
                .control-group.mt
                    lable.control-label Choose a destination
                    .controls
                        select(name="destination")
                            option(value="") ------
                            - destinations.forEach(function (city) {
                                option(value=city._id)= city.city.name
                            - })

                .control-group
                    lable.control-label Choose a date
                    .controls
                        input(type="date", name="date")

                .control-group
                    lable.control-label How many days?
                    .controls
                        input(type="number", value="3", min="1", max="7", name="days")

                .control-group
                    lable.control-label Intensity
                    .controls
                        select(name="intensity")
                            option(value="Relaxed") Relaxed
                            option(value="Moderate") Moderate
                            option(value="Vigorous") Vigorous
                            option(value="Extreme") Extreme

        .modal-footer
            a.btn(href="#", data-dismiss="modal") Cancel
            button.btn.btn-primary(type="submit") Continue