#createAccount.modal.hide.fade
    .modal-header
        h3 We are open soon

    form.form-horizontal.formRequired(method="post", action="/")
        .modal-body
            h5 Register here and you will be notified when the service is available
                .control-group.mt
                    lable.control-label Name
                    .controls
                        input.required(type="text", name="name")

                .control-group
                    lable.control-label Last name
                    .controls
                        input.required(type="text", name="last_name")

                .control-group
                    lable.control-label Email
                    .controls
                        input.required.email(type="email", name="email")


        .modal-footer
            a.btn(href="#", data-dismiss="modal") Cancel
            button.btn.btn-primary(type="submit") Register